.techno_item{
    display: flex;
    flex-direction: row;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .4);
    border-radius: .2rem;
    backdrop-filter: blur(16px);
    align-items: center;
    width: fit-content;
    margin: .5rem .5rem 0 0;
}

.techno_item_name{
    margin-left: .5rem;
}