.service_card{
    background-color: rgba(0, 0, 0, .4);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
}
.service_card_icon{
    align-self: center;
}
.service_card_title{
    font-size: 1.5em;
    font-weight: 600;
}