.project_card{
    position: relative;
    border-radius: .5rem;
}
.project_card_image{
    width: 100%;
    height: auto;
    border-radius: .5rem;
}
.project_card_details{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 .5rem .5rem;
}
.project_card_title{
    font-weight: 600;
    font-size: 1.2em;
}
.project_card_links{
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
}
.project_card_link{
    text-decoration: none;
    padding: .2rem 1rem;
    background-color: var(--bg-glass);
    border: 1px solid white;
    border-radius: .5rem;
    color: white;
    margin-right: 1rem;
}