// popup
/* Popup style */
.popup-container {
    @include glass-background();
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        @include scroll-bar();
        position: relative;
        border-radius: 4px;
        padding: 20px;
        border: 1px solid rgb(220, 219, 219);
        overflow: auto;
        width: 85%;
        height: 85%;

        .close{
            position: fixed;
            right: 5px;
            top: 5px;
        }
    }

}
