.contact_form_field{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}
.contact_form_label{
    font-size: 1.1em;
    margin-bottom: .5rem;
}
.contact_form_input{
    outline: none;
    background-color: var(--bg-glass);
    border-radius: .3rem;
    padding: .5rem .5rem;
    color: var(--primary-text-color);
    border: 1px solid var(--bg-glass);
}
.contact_form_input.textarea{
    min-height: 8rem;
    max-width: 100vw;
    width: 100%;
}
.contact_form_input:focus{
    background-color: rgba(0, 0, 0, .4);
}
.contact_form_input::placeholder{
    color: rgb(255, 255, 255);
}
.contact_form_actions{
    display: flex;
    flex: row;
    justify-content: space-between;
}
.contact_form_submit{
    background-color: var(--bg-glass);
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: var(--primary-text-color);
    border: 1px solid white;
}
.contact_form_actions > a{
    text-decoration: underline;
    color: var(--primary-text-color);
}