@media only screen and (max-width: 900px) {
    
.navbar{
    background-color: var(--bg-glass);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(16px);
    height: 3.5rem;
}
.navbar_brand{
    font-weight: 600;
    font-size: 1.7em;
}
.navbar_items{
    display: none;
}
.navbar_item{
    padding: .5rem 1rem;
}
.navbar_toggle{
    display: block;
    position: relative;
}
.mobile_navbar_items > div{
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
    right: -.5rem;
    top: 2.9rem;
    width: 100vw;
    backdrop-filter: blur(16px);
}
.mobile_navbar_item{
    padding: .5rem 1rem;
    font-size: 1.3em;
}

/* home */
.home{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-text-color);
    padding: 1rem;
}
.home_profile{
    width: 60vw;
    height: auto;
    align-self: center;
    border: 3px solid white;
    border-radius: 100%;
    padding: .5rem;
}
.home_title{
    font-size: 3em;
    font-weight: 600;
}
.home_subtitle{
    font-size: 2em;
    margin-top: .5rem;
}
.home_content{
    font-size: 1.2em;
    margin: 2rem 0;
}
.home_button{
    background-color: var(--bg-glass);
    color: var(--primary-text-color);
    text-decoration: none;
    padding: .7rem 4rem;
    border-radius: .2rem;
    margin-top: 1rem;
}
/* about */
.about{
    padding: 1rem;
    color: var(--primary-text-color);
}
.section_title{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.about_title{
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: .6rem;
}
.about_content{
    margin-bottom: 1rem;
}
.about_section{
    display: flex;
}
.about_content_image{
    display: none;
}
/* techno items */
.techno_items{
    display: flex;
    flex-wrap: wrap;
}
.services{
    color: var(--primary-text-color);
    padding: 1rem;
}
.services_cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.projects{
    color: var(--primary-text-color);
    padding: 1rem;
}
.projects_cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
}
/* contact */
.contact{
    color: var(--primary-text-color);
    padding: 1rem;
}
.contact_infos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}
.infos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infos_label{
  font-size: 2em;
  font-weight: 500;
}
.infos_content{
  font-size: 1.5em;
  margin-bottom: 2rem;
}
}