*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}
:root{
  --bg-glass: rgba(255, 255, 255, .4);
  --primary-text-color: #fff;
  --primary-color: #811278;
  --secondary-color: #CE178D;
  --dark-color: #210826;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
