// progress bar component
.progress-bar {
    @include glass-background();
    height: 10px;
    position: relative;
    border-radius: .3rem;
    padding: 1px;
    width: 100%;

    span {
        display: block;
        height: 100%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: rgb(43, 194, 83);
        background-image: linear-gradient(center bottom,
                rgb(43, 194, 83) 37%,
                rgb(84, 240, 84) 69%);
        position: relative;
        overflow: hidden;
    }
}