@import '../Components/ProgressBar/ProgressBar';
@import '../Components/Popup/Popup';
@import '../Components/Typer/Typer';

// techno
.techno {
    margin-bottom: $base-margin*2;

    .techno_title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 600;
        font-size: $base-font-size + .2rem;
        margin-bottom: $base-margin;
    }
}

