.wrapper {
    height: 100vh;
    overflow-x: hidden;
    @include scroll-bar();
    text-align: justify;

    .container {
        max-width: 1500px;
        margin: auto;
        padding: 0;

        /* home */
        .home {
            @include xs {
                flex-direction: column
            }

            @include md {
                flex-direction: row
            }

            @include glass-background();
            height: 90vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $primary-text-color;
            padding: $base-padding * 2;
            scroll-snap-align: center;

            .home_profile {
                width: auto;
                max-width: 350px;
                height: auto;
                align-self: center;
                border: 3px solid white;
                border-radius: 50%;
                padding: $base-padding;
                margin-right: $base-margin;
            }

            .home_title {
                font-size: $font-size-xl;
                font-weight: 600;
            }

            .home_subtitle {
                font-size: $font-size-lg;
                margin-top: .5rem;
            }

            .home_content {
                font-size: $font-size-md;
                margin: $base-margin*2 0;
            }

            .home_button {
                @include glass-background();
                color: $primary-text-color;
                text-decoration: none;
                padding: .7rem 4rem;
                border-radius: $base-border-radius;
                margin-top: 1rem;
            }
        }

        /* about */
        .about {
            padding: $base-padding * 2;
            color: var(--primary-text-color);
            scroll-snap-align: start;


            .about_section {

                @include xs {
                    display: flex;
                }


                @include md {
                    display: grid;
                }

                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-gap: 1rem;
                height: 70vh;
            }

            .about_left {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .about_content {
                margin-bottom: 1rem;
                font-size: $base-font-size + .1;
                display: flex;
                align-items: center;
                text-align: justify;
            }

            .about_content_image {
                @include xs {
                    display: none;
                }

                @include md {
                    display: flex;
                }

                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .section_title {
            font-size: 3em;
            font-weight: 600;
            text-align: center;
            margin-bottom: 2rem;
        }

        .section_subtitle {
            font-weight: 500;
            font-size: 1.5em;
            margin-bottom: .6rem;
        }

        .skills {
            @include glass-background();
            scroll-snap-align: start;
            padding: $base-padding * 2;

            .skills_content {

                @include xs {
                    display: flex;
                    flex-direction: column;
                }

                @include md {
                    display: grid;
                }

                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: $base-margin*3;
                column-gap: 1rem;

                .skills_languages {

                    @include xs {
                        border-right: none;
                    }

                    @include md {
                        border-right: 1px solid white;
                    }

                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    border-right: 1px solid white;
                    padding-right: $base-padding;
                }
            }
        }

        .projects {
            color: var(--primary-text-color);
            padding: $base-padding * 2;
            scroll-snap-align: start;

            .projects_cards {

                @include xs {
                    display: flex;
                    flex-direction: column;
                }

                @include md {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 1rem;
            }
        }

        /* contact */
        .contact {
            @include glass-background();
            color: var(--primary-text-color);
            padding: $base-padding * 2;
            scroll-snap-align: start;

            .contact_infos {

                @include xs {
                    display: flex;
                    flex-direction: column;
                }

                @include md {
                    display: grid;
                }

                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-gap: 2rem;
                font-size: $base-font-size (+0.1rem);

                .infos {

                    @include xs {
                        align-items: flex-start;
                    }

                    @include md {
                        align-items: flex-end;
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .infos_label {
                        font-size: $base-font-size + .3;
                    }

                    .infos_content {
                        font-size: $base-font-size + .2;
                        // margin-bottom: 2rem;
                    }
                }
            }
        }

        .footer {
            color: var(--primary-text-color);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background-color: rgba(0, 0, 0, .4);
            font-size: 1.2em;
            scroll-snap-align: start;
        }
    }
}

@keyframes rotate {
    50% {
        transform: rotate(.5deg)
    }
}

@keyframes scale {
    50% {
        transform: scale(.9);
    }
}