$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$info: #f6c31c;

$primary-text-color: #fff;

$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-thickness: 1px;
$base-border-radius: 0.5rem;

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;

$base-border: 1px solid white;

$prefix: "g-";